
.file-view {
    background: rgb(207, 207, 207);
    grid-area: file-view;
}

.loading-div {
    position: absolute;
    transition: .5s;
    opacity: 1;
}

.loading-div.loaded {
    opacity: 0;
}

.view-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.get-link {
    position: absolute;
    right: 0;
    margin-right: 20px;
    margin-top: 15px;
    transition: .5s;
    opacity: 0;
}

.get-link.loaded {
    opacity: 1;
}

.photo {
    max-width: 90%;
    max-height: 80vh;
    height: auto;
    transition: .5s;
    opacity: 0;
}

.video {
    max-width: 90%;
    max-height: 80vh;
    height: auto;
    transition: 0s;
    opacity: 0;
}

.video.loaded {
    transition: 1s;
}

.loaded {
    opacity: 1;
}

@media screen and (max-width: 800px) {
    .photo {
        max-height: 50vh;
    }
}
